@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@700&family=Playfair+Display:wght@600&display=swap');

* *::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.wrapper{
    max-width: 100%;
    max-height: 600px;
    margin: 0 ;
    padding: 0px 60px;
    
}

.left img{
    width: 410px;
    height: 280px;

}

.oneri1{
    display: flex;
    margin-bottom: 20px;
}

.oneri2{
    display: flex;
    margin-bottom: 20px;
}

.oneri3{
    display: flex;
}
.right{
    margin-left: 40px;
}

.right .up {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.up-right{
    display: flex;
}

.up-right li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: 0 8px;
    color: white;
    

}
.up-right li:first-child{
    padding: 4px 12px 4px 10px;
    gap: 6px;
    background: #004B93;
    mix-blend-mode: multiply;
    border-radius: 16px;
}

.up-right li:nth-child(2) {
    padding: 4px 12px 4px 10px;
    gap: 6px;
    background: #00ACB4;
    mix-blend-mode: multiply;
    border-radius: 16px;
}

.up-right li:nth-child(3){
   background: #386B5A;
   padding: 4px 12px 4px 10px;
   gap: 6px;
   mix-blend-mode: multiply;
   border-radius: 16px;
}

h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 72px;
}

h2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    width: 340px;
    height: 20px;
}

.Tanitimyazisi{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.right img{
    width: 13px;
    height: 16px;
    margin-right: 10px;
}

.konum{
    width: 300px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.btn-kafeyegit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    width: 630px;
    height: 16px;
    background: #422524;
    border: 1px solid #0F0F10;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
