@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@700&family=Playfair+Display:wght@600&display=swap');


a{
    text-decoration: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
color: #693B3A;
width: 41px;
height: 20px;

}

.container{
    display: flex;
    justify-content: space-between;
    
    width: 1440px;
    height: 900px;
}
body {
    max-width: 1440px; 
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: hidden;

  }
.right img {
    position: absolute;
    width: 950px;
    height: 581px;
    left: 450px;
    top: -10px;
}

.left .forum-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    position: absolute;
    width: 400px;
    height: 532px;
    left: 80px;
    top: 60px;
}

.left h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #101828;
    width: 400px;
    height: 44px;
}

label{
    width: 68px;
    height: 800px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 14px;
    gap: 8px;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C5C7C9;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;

}

.kayıt-kısmı p{
    width: 400px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #36383A;
    margin-top: -8px;
    margin-bottom: 24px;
}

.forum-box .already{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #36383A;
    margin-left: 110px;
    
}

.btn-field{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    width: 400px;
    height: 44px;
    background: #0F0F10;
    border: 1px solid #0F0F10;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.btn-field button{
    outline: 0px;
    border: 0;
    background-color: #0F0F10;
    color: #FFFFFF;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}

input[name="mail"]::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#585C5F; ;
    width: 372px;
    height: 24px;
}

input[name="password"]::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#585C5F; ;
    width: 372px;
    height: 24px;
}